[Desktop Entry]
Name=RStudio
GenericName=IDE for R
Comment=IDE for R the language for statistical computing and graphics
Exec=rstudio
Icon=/usr/share/pixmaps/rstudio.png
DocPath=
StartupNotify=true
Terminal=true
Type=Application
Categories=Education;Science;Math;
